# Dependency directories
/node_modules

# Build output
/dist
/.cache
/.parcel-cache

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
parcel-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Jest coverage
/coverage

# macOS
.DS_Store

# Windows
Thumbs.db
